<div class="intro">
  <div class="intro__inner">
    <h2 class="intro__title">SAFARI  PRIVITE GAME RESERVE</h2>
    <div class="intro__info">
      <p>R356, Sutherland Road, Breede River</p>
      <p>Inverdoorn Big 5 Private Game Reserve is just under 2.5 hours drive from Cape Town, in the malaria-free Ceres Karoo.</p>
      <ul class="intro__schedule schedule">Works time
        <li class="schedule__days">
          <span class="schedule__day">Weekdays: Open</span>

          <span class="schedule__day-opening">
            {{schedule.weekdaysOpening}}
          </span> - <span class="schedule__day-closing">
            {{schedule.weekdaysClosing}}
          </span>
        </li>
        <li class="schedule__days">
          <span class="schedule__day schedule__day_weekend">Weekends: Open</span>

          <span class="schedule__day-opening">
            {{schedule.weekendOpening}}
          </span> - <span class="schedule__day-closing">
            {{schedule.weekendClosing}}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="news">
  <div class="px-5 inner__container">
    <h2 class="inner__container-title">News</h2>
        {{!-- Each card ... --}}
        {{#each news}}
          {{> newsCard}} 
        {{/each}}
        <div class="text-right d-block">
          <a href="/news" class="link-warning">Click here for some News</a>
        </div>
  </div>
</div>

<div class="galery">
  <div class="inner__container--wide">
    <h2 class="inner__container-title text-center">Our Animals</h2>
    <div class="galery-wrapper">
      {{#each images}}
        {{> galeryCard}}
      {{/each}}
    </div>
  </div>
</div>

<div id="tariffs">
  <div class="px-5 inner__container">
    <h2 class="inner__container-title">Prices</h2>
    <div class="d-flex flex-wrap">
      {{!-- Each card ... --}}
      {{#each tariffs}}
      {{> tariffsCard}}
      {{/each}}
    </div>
  </div>
</div>

<div id="contacts">
  <div class="px-5 inner__container--wide">
    <h2 class="inner__container-title">Contacts</h2>
    <div class="contacts__inner">
      <div class="map">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad85837a069c26419c89e55268b6c0286413e8782fda87205ffcef17e01f36223&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
      </div>
      <div class="contacts__inner-info">
        <div class="info">
          <p><a href="https://yandex.ru/maps/?ll=19.373929%2C-33.728739&mode=routes&rtext=-33.753125%2C19.263983~-33.922500%2C18.417600&rtt=auto&ruri=~ymapsbm1%3A%2F%2Forg%3Foid%3D110627948439&z=10.5">R356, Sutherland Road, Breede River</a></p> 
          <p><a href="tel:+78568493003" target="_blank">+357 (34) 888-45-67</a></p>
          <p><a href="tel:785678399">12-44-55</a></p>
          <p><a href="mailto:ask@htmlbook.ru">For questions</a></p> 
        </div>
      </div>
    </div>
  </div>
</div>


